#months {
  padding: 0.5rem 2rem;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  font-size: 1.5rem;

  #months-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .month {
    margin: 0;
    transition: all 100ms ease-in-out;
    transform-origin: 0 50%;
    cursor: pointer;
  }
  .month:not(.selected):not(.disabled):hover {
    color: rgba(255, 0, 0, 0.433);
    transform: scale(1.1);
  }
  .month.selected {
    color: red;
    transform: scale(1.2);
    font-weight: bold;
  }
  .month.disabled {
    color: grey;
    cursor: not-allowed;
  }
}

@media (prefers-color-scheme: dark) {
  //   #months {
  //   }
}
