#events {
  overflow: auto;
  flex-grow: 1;
  min-height: 0; /* required for flex children to allow scrolling */

  .month {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .leg-chevron {
    width: 1.5rem;
    margin-left: 0.5rem;
  }

  details[open] {
    .leg-chevron {
      transform: rotate(180deg);
    }
  }

  details {
    .leg-chevron {
      transition: transform 200ms;
    }
    summary {
      cursor: pointer;
    }
    @media (hover) {
      summary:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .leg-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    h5 {
      margin: 0;
    }

    &.completed {
      color: grey;
    }
  }
  .leg {
    border: 1px solid black;

    h4 {
      margin: 0;
    }
  }
}

@media (max-width: 700px) {
  #events {
    .month {
      padding: 10px;
    }
    summary {
      padding: 0;
    }
    .leg-summary {
      padding: 10px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  #events {
    .leg {
      border-color: wheat;
      color: white;
    }
  }
}
