html,
body,
#root,
#climbcal {
  height: 100%;
  margin: 0;
}

#climbcal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#config {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

#header {
  padding: 20px 10px 10px 20px;
  z-index: 10;
}

#header h1 {
  margin: 0;
}

#calendar {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  gap: 10px;
  min-height: 0; /* allow the events pane to scroll internally */
}

details {
  border: 1px solid grey;
}
summary {
  padding: 0 1rem;
}
details[open] {
  summary {
    border-bottom: 1px dashed grey;
  }
}
details .body {
  padding: 1rem;
  padding-top: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  #config {
    border-bottom: 1px solid white;
  }
}

@media (max-width: 700px) {
  #calendar {
    flex-direction: column;
  }
  #calendar,
  #main-content {
    gap: 1px;
  }

  #config {
    flex-direction: column;
  }

  #months {
    display: none !important;
  }
}
