body,
input,
button {
  font-family: 'Roboto Mono', monospace;
}

summary {
  list-style: none;
  height: 100%;
}
summary::-webkit-details-marker {
  display: none;
}

@media (prefers-color-scheme: dark) {
}
